.title {
  text-shadow: var(--textShadow-glow);
}

.bgShadowBlur {
  /* background: radial-gradient(circle at center, #dc262680 10%, black 70%);
    opacity: 1; */

  background: radial-gradient(circle at center, #203adf30 10%, black 70%);
  opacity: 1;
}
