@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

@media (min-width: 1440px) {
  .body {
    font-family: "Roboto", sans-serif;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    /* padding: 1.5em; */
    min-height: 100vh;
    color: #fff;
    font-size: 1rem;
    line-height: 20px;
    background: radial-gradient(circle at center, #203adf30 10%, black 70%);

    font-family: Inter, sans-serif;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    position: relative;
    user-select: none;
  }

  .title h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    font-weight: 500;
    gap: 5px;
  }

  .title {
    margin-top: 0.5em;
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 0.5em;
    position: relative;
    height: 3.5em;
  }

  .iconOfName {
    height: 100%;
  }

  /*Section of video*/
  .contentOfVideo {
    color: #fff;
    font-size: 1rem;
    line-height: 20px;
    font-family:
      Instrument Sans,
      sans-serif;
    box-sizing: border-box;
    z-index: 9999;
    flex-direction: column;
    align-items: center;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    width: 67vw;
  }

  .contentWraper {
    color: #fff;
    font-size: 1rem;
    line-height: 20px;
    font-family:
      Instrument Sans,
      sans-serif;
    box-sizing: border-box;
    z-index: 99999999;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 67vw;
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 2rem;
    display: flex;
    position: relative;
  }

  .firtText {
    font-family:
      Instrument Sans,
      sans-serif;
    text-align: center;
    box-sizing: border-box;
    margin: 0.67em 0;
    color: #fff;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px #000;
    height: auto;
    padding: 0 10vw;
    display: flex;
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
    z-index: 9998;
    letter-spacing: -0.05px;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      #fff,
      rgba(255, 255, 255, 0.81) 79%,
      rgba(255, 255, 255, 0.24)
    );
    background-clip: text;
    max-width: 850px;
    margin-top: 20px;
    font-weight: 500;
    line-height: 120%;
    position: relative;
    font-size: 3.3rem;
    width: 70%;
  }

  .secondText {
    font-size: 1rem;
    line-height: 20px;
    font-family:
      Instrument Sans,
      sans-serif;
    text-align: center;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-bottom: 20px;
    display: flex;
  }

  .secondText p {
    -webkit-text-size-adjust: 100%;
    font-family:
      Instrument Sans,
      sans-serif;
    box-sizing: border-box;
    margin-top: 0;
    color: #fff;
    text-align: center;
    width: 80%;
    margin-bottom: 0;
    font-size: 1.125rem;
    line-height: 150%;
  }

  .button {
    text-align: center;
    box-sizing: border-box;
    line-height: inherit;
    text-decoration: none;
    opacity: 1;
    cursor: pointer;
    border: 0.05rem solid #d4da2b;
    border-radius: 0.6875rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-top: 1.25rem;
    padding: 1.2rem 0;
    font-family: Inter, sans-serif;
    font-size: 1.0625rem;
    font-weight: 700;
    transition: all 0.35s;
    display: flex;
    box-shadow: none;
    color: #fff;
    letter-spacing: 0.5px;
    background-color: #000;
    background-image: linear-gradient(#010036, #150074);
    /* Escalas de rojo */
    border-color: #504dff;
    /* Escala de rojo */
  }

  .button:hover {
    transform: scale(1.1);
  }

  .textForButton {
    margin-top: 0.5em;
    -webkit-text-size-adjust: 100%;
    line-height: 30px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 0.8rem;
    box-sizing: border-box;
    color: #fff;
  }

  .space {
    -webkit-text-size-adjust: 100%;
    color: #fff;
    font-size: 1rem;
    line-height: 20px;
    font-family:
      Instrument Sans,
      sans-serif;
    box-sizing: border-box;
    justify-content: center;
    padding: 100px 5vw;
    display: flex;
    position: relative;
    background-image: radial-gradient(
      circle,
      #010036,
      #150074 33%,
      rgba(0, 107, 255, 0)
    );
    flex-direction: column;
    align-items: center;
    width: 70%;
    max-width: 1000px;
    margin-top: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .contetOfPrice {
    width: 80vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 1em;
  }

  .from {
    -webkit-text-size-adjust: 100%;
    font-family:
      Instrument Sans,
      sans-serif;
    box-sizing: border-box;
    text-align: center;
    text-transform: none;
    margin-top: 0;
    font-weight: 500;
    line-height: 1;
    max-width: 1400px;
    letter-spacing: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    color: #627083;
    -webkit-text-fill-color: inherit;
    background-image: none;
    background-clip: border-box;
    font-size: 2em;
    text-decoration: line-through;
  }

  .price {
    -webkit-text-size-adjust: 100%;
    font-family:
      Instrument Sans,
      sans-serif;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    text-transform: none;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      rgba(177, 177, 177, 0.55),
      #fff 0%,
      rgba(235, 235, 235, 0.88) 58%,
      rgba(0, 0, 0, 0)
    );
    background-clip: text;
    margin-top: 0;
    font-weight: 500;
    line-height: 1;
    max-width: 1400px;
    letter-spacing: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 3.6em;
  }
}

/*------------------------------------------------------------*/

@media (max-width: 720px) {
  .body {
    font-family: "Roboto", sans-serif;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    /* padding: 1.5em; */
    min-height: 100vh;
    color: #fff;
    font-size: 1rem;
    line-height: 20px;
    background: radial-gradient(circle at center, #203adf30 10%, black 70%);
    font-family: Inter, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .title h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    font-weight: 400;
    font-size: 16px;
    height: 100%;
  }

  .title {
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 0.2em;
    position: relative;
    height: 2.5em;
  }

  .iconOfName {
    height: 100%;
  }

  /*Section of video*/
  .contentOfVideo {
    width: 100vw;
    padding: 0 2em 2em 2em;
    margin-bottom: 3em;
  }

  .contentWraper {
    color: #fff;
    font-size: 1rem;
    line-height: 20px;
    font-family:
      Instrument Sans,
      sans-serif;
    box-sizing: border-box;
    z-index: 99999999;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    display: flex;
    position: relative;
    top: 1em;
    width: 100%;
    max-width: none;
    margin-top: 0;
    overflow: hidden;
  }

  .firtText {
    font-family:
      Instrument Sans,
      sans-serif;
    text-align: center;
    box-sizing: border-box;
    margin: 0.67em 0;
    color: #fff;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px #000;
    width: 100%;
    height: auto;
    padding: 0 10vw;
    display: flex;
    top: 0;
    left: 0;
    z-index: 9998;
    letter-spacing: -0.05px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 500;
    position: relative;
    background-image: linear-gradient(
      #fff,
      rgba(255, 255, 255, 0.81) 81%,
      rgba(255, 255, 255, 0.24)
    );
    max-width: 100%;
    margin-top: 0;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.6rem;
    line-height: 130%;
  }

  .secondText {
    -webkit-text-size-adjust: 100%;
    color: #fff;
    line-height: 20px;
    font-family:
      Instrument Sans,
      sans-serif;
    text-align: center;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    font-size: 1rem;
  }

  .secondText p {
    -webkit-text-size-adjust: 100%;
    font-family:
      Instrument Sans,
      sans-serif;
    box-sizing: border-box;
    margin-top: 0;
    color: #949494;
    line-height: 150%;
    width: 90%;
    margin-bottom: 0;
    text-align: center;
    font-size: 0.9rem;
    display: flex;
  }

  .button {
    -webkit-text-size-adjust: 100%;
    text-align: center;
    box-sizing: border-box;
    line-height: inherit;
    text-decoration: none;
    opacity: 1;
    cursor: pointer;
    justify-content: center;
    width: 100%;
    transition: all 0.35s;
    border: 0.05rem solid #d4da2b;
    border-radius: 0.4rem;
    flex-direction: column;
    align-items: center;
    margin-top: 1.875rem;
    padding: 1rem;
    font-family: Inter, sans-serif;
    font-weight: 700;
    display: flex;
    box-shadow: none;
    color: #fff;
    letter-spacing: 0.5px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-size: 0.9rem;
    background-image: linear-gradient(#010036, #150074);
    /* Escalas de rojo */
    border-color: #263cff;
    /* Escala de rojo */
  }

  .button:hover {
    transform: scale(1);
  }

  .textForButton {
    margin-top: 0.5em;
    -webkit-text-size-adjust: 100%;
    line-height: 30px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 0.7rem;
    box-sizing: border-box;
    color: #c9c9c9;
  }

  .space {
    -webkit-text-size-adjust: 100%;
    color: #fff;
    font-size: 1rem;
    line-height: 20px;
    font-family:
      Instrument Sans,
      sans-serif;
    box-sizing: border-box;
    justify-content: center;
    padding: 100px 5vw;
    display: flex;
    position: relative;
    background-image: radial-gradient(
      circle,
      #010036,
      #150074 33%,
      rgba(0, 107, 255, 0)
    );
    flex-direction: column;
    align-items: center;
    width: 70%;
    max-width: 1000px;
    margin-top: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .contetOfPrice {
    -webkit-text-size-adjust: 100%;

    color: #fff;
    font-size: 1rem;
    line-height: 20px;
    font-family:
      Instrument Sans,
      sans-serif;
    box-sizing: border-box;
    z-index: 0;
    border-radius: 20px 20px 0 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    height: 90px;
    width: 320px;
  }

  .from {
    -webkit-text-size-adjust: 100%;
    font-family:
      Instrument Sans,
      sans-serif;
    box-sizing: border-box;
    text-align: center;
    text-transform: none;
    margin-top: 0;
    font-weight: 500;
    line-height: 1.1;
    padding-left: 0;
    padding-right: 0;
    letter-spacing: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    color: #627083;
    -webkit-text-fill-color: inherit;
    background-image: none;
    background-clip: border-box;
    text-decoration: line-through;
    font-size: 1.6em;
  }

  .price {
    -webkit-text-size-adjust: 100%;

    font-family:
      Instrument Sans,
      sans-serif;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    text-transform: none;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      rgba(177, 177, 177, 0.55),
      #fff 0%,
      rgba(235, 235, 235, 0.88) 58%,
      rgba(0, 0, 0, 0)
    );
    background-clip: text;
    margin-top: 0;
    font-weight: 500;
    line-height: 1.1;
    padding-left: 0;
    padding-right: 0;
    letter-spacing: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 2.2em;
  }
}

@media (min-width: 720px) and (max-width: 1440px) {
  .body {
    font-family: "Roboto", sans-serif;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    /* padding: 1.5em; */
    min-height: 100vh;
    color: #fff;
    font-size: 1rem;
    line-height: 20px;
    background: radial-gradient(circle at center, #203adf30 10%, black 70%);
    font-family: Inter, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .title h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    font-weight: 500;
    gap: 5px;
  }

  .title {
    margin-top: 0.5em;
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 0.5em;
    position: relative;
    height: 3.5em;
  }

  .iconOfName {
    height: 100%;
  }

  /*Section of video*/
  .contentOfVideo {
    color: #fff;
    font-size: 1rem;
    line-height: 20px;
    font-family:
      Instrument Sans,
      sans-serif;
    box-sizing: border-box;
    z-index: 9999;
    flex-direction: column;
    align-items: center;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    width: 67vw;
  }

  .contentWraper {
    color: #fff;
    font-size: 1rem;
    line-height: 20px;
    font-family:
      Instrument Sans,
      sans-serif;
    box-sizing: border-box;
    z-index: 99999999;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    padding-top: 0;
    padding-bottom: 2rem;
    display: flex;
    position: relative;
  }

  .firtText {
    width: 100%;
    font-family:
      Instrument Sans,
      sans-serif;
    text-align: center;
    box-sizing: border-box;
    color: #fff;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px #000;
    height: auto;
    padding: 0 10vw;
    display: flex;
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
    z-index: 9998;
    letter-spacing: -0.05px;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      #fff,
      rgba(255, 255, 255, 0.81) 79%,
      rgba(255, 255, 255, 0.24)
    );
    background-clip: text;
    margin-top: 20px;
    font-weight: 500;
    line-height: 120%;
    position: relative;
    font-size: 3.3rem;
  }

  .secondText {
    font-size: 1rem;
    line-height: 20px;
    font-family:
      Instrument Sans,
      sans-serif;
    text-align: center;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-bottom: 20px;
    display: flex;
  }

  .secondText p {
    -webkit-text-size-adjust: 100%;
    font-family:
      Instrument Sans,
      sans-serif;
    box-sizing: border-box;
    margin-top: 0;
    color: #949494;
    text-align: center;
    width: 80%;
    margin-bottom: 0;
    font-size: 1.125rem;
    line-height: 150%;
  }

  .button {
    text-align: center;
    box-sizing: border-box;
    line-height: inherit;
    text-decoration: none;
    opacity: 1;
    cursor: pointer;
    border: 0.05rem solid #d4da2b;
    border-radius: 0.6875rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-top: 1.25rem;
    padding: 1.2rem 0;
    font-family: Inter, sans-serif;
    font-size: 1.0625rem;
    font-weight: 700;
    transition: all 0.35s;
    display: flex;
    box-shadow: none;
    color: #fff;
    letter-spacing: 0.5px;
    background-color: #000;
    background-image: linear-gradient(#010036, #150074);
    /* Escalas de rojo */
    border-color: #504dff;
    /* Escala de rojo */
  }

  .button:hover {
    transform: scale(1.1);
  }

  .textForButton {
    margin-top: 0.5em;
    -webkit-text-size-adjust: 100%;
    line-height: 30px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 0.7rem;
    box-sizing: border-box;
    color: #c9c9c9;
  }

  .space {
    -webkit-text-size-adjust: 100%;
    color: #fff;
    font-size: 1rem;
    line-height: 20px;
    font-family:
      Instrument Sans,
      sans-serif;
    box-sizing: border-box;
    justify-content: center;
    padding: 100px 5vw;
    display: flex;
    position: relative;
    background-image: radial-gradient(
      circle,
      #010036,
      #150074 33%,
      rgba(0, 107, 255, 0)
    );
    flex-direction: column;
    align-items: center;
    width: 70%;
    max-width: 1000px;
    margin-top: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .contetOfPrice {
    width: 80vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 1em;
  }

  .from {
    -webkit-text-size-adjust: 100%;
    font-family:
      Instrument Sans,
      sans-serif;
    box-sizing: border-box;
    text-align: center;
    text-transform: none;
    margin-top: 0;
    font-weight: 500;
    line-height: 1;
    max-width: 1400px;
    letter-spacing: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    color: #627083;
    -webkit-text-fill-color: inherit;
    background-image: none;
    background-clip: border-box;
    font-size: 2em;
    text-decoration: line-through;
  }

  .price {
    -webkit-text-size-adjust: 100%;
    font-family:
      Instrument Sans,
      sans-serif;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    text-transform: none;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      rgba(177, 177, 177, 0.55),
      #fff 0%,
      rgba(235, 235, 235, 0.88) 58%,
      rgba(0, 0, 0, 0)
    );
    background-clip: text;
    margin-top: 0;
    font-weight: 500;
    line-height: 1;
    max-width: 1400px;
    letter-spacing: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 3.6em;
  }
}
