.content {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.FinancingButton {
  background: #000;
  cursor: pointer;
  animation: breathe-glow 2s infinite;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

@keyframes breathe-glow {
  0%,
  100% {
    transform: scale(1);
    box-shadow:
      0 0 10px rgba(255, 255, 255, 0.6),
      0 0 20px rgba(255, 255, 255, 0.4);
  }

  50% {
    transform: scale(1.03);
    box-shadow:
      0 0 20px rgba(255, 255, 255, 0.8),
      0 0 30px rgba(255, 255, 255, 0.6);
  }
}

/* Clase para detener la animación */
.noAnimation {
  animation-play-state: paused;
  /* Pausa la animación */
}

@media (max-width: 768px) {
  .text {
    display: none !important;
  }
}
